/** Add css rules here for your application. */


.sendButton {
  display: block;
  font-size: 26pt;
}

#hashtag{
  text-align: right;
  font: sans-serif;
  font-size: 500px;
  border: 1px solid black;
}

#application_heading{
  text-align: left;
  font: sans-serif;
  font-size: 130px;
  padding-top: 150px;
  border: 1px solid black;
  line-height: 1em; 
  height: 716px;
}
